//Colors
$primary: #A0F1EA;
$secondary: #EAD6EE;
$dark-grey: #363636;
$light-gray: #d8d8d8;
$shell: #f3ede6;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$white-culture: #F5F5F5;
$white-cream:#FEFEFE;
$font-source: 'https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap';
$font-stack: 'Raleway',Helvetica, Arial, sans-serif;